.notification {
    border: 2px solid;
    padding: 10px;
    background: #dddddd;
    border-radius: 2em;
    margin: 10px 25px;
    position: relative;
}
button {
    position: absolute;
    right: 10px;
    background-color: #dddddd;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: #ffffff;
}

button:active {
    background-color: #dddddd;
}